
<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyUrl</title>
  <%- include ./partials/_header %>
  </head>
<body>
  <!-- Add your EJS code here -->
  <h2>Your Short URLs </h2>
  <ul>

  <div>
  <% for (var item in urls ) {%>
    <p><li>Short Url:<a href = "http://localhost:8080/<%= item %>"><%= item %> </a>
    Long Url : <%= urls[item] %>
      <form action = "/urls/<%= item %>" method = "GET">
        <input type="submit" value = "Edit" name="edit"/>
      </form>
      <form action = "/urls/<%= item %>/delete" method = "POST">
        <input type="submit" value = "Delete" name="delete"/>
      </form>
    </li></p>

  <% } %>
  </div>
  <div>
    <a href = "/urls">Home </a>
  </div>
  </ul>
</body>
</html>